@import "reset.css";
@import "variables.css";
:root {
  /* Colors */
  --bg-color: var(--system-color);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}
